#intro{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    background: #ffff;
}

#intro {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

  
  .intro-section__left {
    display: flex;
    justify-content: space-evenly; /* Center the image horizontally */
    align-self: center; /* Center the image vertically */
  }
  
  .section__pic-container {

    align-self: center;

  }
  .section__pic-container img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: auto 0;
   
  }
  
  .intro-section__right {
    display: flex;
    justify-content: left; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
  }
  
  .section__text__p1 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(85, 85, 85);
  }

  .section__text{
    font-size: 1.5em;
    align-self: center;
  }
  .title{
    font-size: 3rem;
    text-align: center;
  }

  .designation{
    font-size: 2rem;
    text-align: center;
    color: rgb(85, 85, 85);
  }

  .socials-container{
    text-align: center;
    display: flex;
    justify-content: center;
  

  }
  .icon {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

